<div class="row">
  <div class="header">
    <h2 class="mt-5 fw-bold color-main">{{NameData}}</h2>
  </div>
  <div class=" col-12 m-auto text-center ">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide *ngFor="let item of data.results">
        <a [routerLink]="['/shared/TvDetails',item.id]">
          <div class="cursor-pointer">
            <img [src]="item.poster_path?baseImageURL+item.poster_path:'./assets/images/no-image.PNG'" class="img-fluid"
              alt="">
            <h3 class="my-1">{{item.name|seeMore:2}}</h3>
          </div>
        </a>
        <h4>{{item.first_air_date}}</h4>

      </ng-template>
    </owl-carousel-o>
  </div>
</div>