<section class="bg-black-secondary py-3">
  <div class="container">

    <div class="row d-flex py-3">
      <div class="col-md-2">
        <img class="w-100 rounded-4" src="./assets/images/logo.PNG" alt="">
      </div>

      <div class="col-md-5">
        <h4 class="text-main-color fw-bold">About Us</h4>
        <p>MoMovie is a movies wep application to show all movies,tv series is now playing , popular , trending
          and top_rated </p>

        <div class="d-flex justify-content-center align-items-center my-3">

          <a href="https://www.linkedin.com/in/mohamedsalah1996/" target="_blank"
            class="contact-us-icon rounded-circle d-flex justify-content-center align-items-center mx-1">
            <i class="fa-brands fs-4 fa-linkedin-in text-black"></i>
          </a>

          <a href="https://github.com/mohamedsalahsi20696" target="_blank"
            class="contact-us-icon rounded-circle d-flex justify-content-center align-items-center mx-1">
            <i class="fa-brands fs-4 fa-github-alt text-black"></i>
          </a>

          <a href="https://www.facebook.com/profile.php?id=100008135896319" target="_blank"
            class="contact-us-icon rounded-circle d-flex justify-content-center align-items-center mx-1">
            <i class="fa-brands fs-4 fa-facebook text-black"></i>
          </a>
        </div>
      </div>

      <div class="col-md-5">

        <div class="row">

          <div class="col-md-6">
            <div class="header">
              <h4 class="text-main-color fw-bold">Contact Us</h4>

              <div class="d-flex ">
                <i class="fa-brands fa-whatsapp text-main-color fs-5 me-2"></i>
                <p>01147447940</p>
              </div>

              <div class="d-flex ">
                <i class="fa-solid fa-phone-volume text-main-color fs-5 me-2"></i>
                <p>01020379853</p>
              </div>

              <div class="d-flex ">
                <i class="fa-solid fa-envelope text-main-color fs-5 me-2"></i>
                <p>mohamed.salah.s.i.20696@gmail.com</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row text-center my-3">

      <hr class="text-main-color m-0 p-0">

      <div class="my-2">
        <p class="m-0 p-0">© 2023-2023, MoMovie.com</p>
      </div>
      <hr class="text-main-color m-0 p-0">
    </div>
  </div>
</section>