<circle-progress class="movie-progress bg-danger w-100 h-100 rounded rounded-circle overflow-hidden"
  [percent]="progress" [maxPercent]="100" [showTitle]="true" [showUnits]="true" [showSubtitle]="false"
  [showBackground]="true" [radius]="50" [backgroundPadding]="0" [backgroundOpacity]="1" [outerStrokeWidth]="10"
  [innerStrokeWidth]="0" [titleFontSize]="'40'" [unitsFontSize]="'40'" [titleFontWeight]="'900'"
  [unitsFontWeight]="'900'" [outerStrokeColor]="'#CC0C39'" [animation]="true"
  [animationDuration]="500"></circle-progress>